# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/env
node_modules

# react stuff
# dependencies
gamma/frontend/node_modules
gamma/frontend/.pnp
gamma/frontend.pnp.js

# testing
gamma/frontend/coverage

# production
gamma/frontend/build

# misc
gamma/frontend.DS_Store
gamma/frontend.env.local
gamma/frontend.env.development.local
gamma/frontend.env.test.local
gamma/frontend.env.production.local

gamma/frontendnpm-debug.log*
gamma/frontendyarn-debug.log*
gamma/frontendyarn-error.log*


# django stuff
gamma/gamma/creds.py